@use '../base/colors' as colors;

body {
  padding: 50px;
  background-color: colors.$mon-yellow-60;
}

.card {
  padding: 1rem;
  background-color: white;
  width: 285px;
  img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  .categories {
    span {
      color: colors.$neutral-60;
    }
  }
}
