@use '../base/colors' as colors;
@use '../abstracts/mixin' as mixin;

// html example :  https://bit.ly/3PhRL0v

.card {
  padding: 1rem;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 250px;
  img {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
  }
  .categories {
    @include mixin.flexbox(start);
    gap: 20px;
    margin-bottom: 10px;
    span {
      color: colors.$neutral-60;
    }
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 180px;
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 160px;
    padding: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .card {
    width: 140px;
    padding: 10px;
  }
}
