@use '../base/colors' as colors;
@use '../abstracts/mixin' as mixin;

// html example :  https://bit.ly/3PhRL0v

// card for product

.card {
  padding: 1rem;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 250px;
  cursor: pointer;
  img {
    border-radius: 10px;
    width: 100%;
    margin: 10px 0;
  }
  .categories {
    @include mixin.flexbox(start);
    gap: 20px;
    margin-bottom: 10px;
    span {
      color: colors.$neutral-60;
    }
  }
  .gift {
    @include mixin.flexbox(start);
    margin-top: 10px;
    border-radius: 5px;
    gap: 5%;
    padding: 0.1rem;
    background-color: colors.$mon-yellow-40;
    span {
      width: 8px;
      height: 8px;
      border-radius: 10px;
      background-color: colors.$dark-blue-main;
    }
    img {
      width: 8%;
      margin-left: 10px;
    }
    p {
      color: colors.$dark-blue-main;
    }
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 180px;
    padding: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 160px;
    padding: 10px;
    .gift {
      span {
        width: 5px;
        height: 5px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .card {
    width: 140px;
    padding: 10px;
  }
}
