@use '../abstracts/mixin' as mixin;
@use '../base/colors' as colors;

footer {
  padding: 50px 130px;
  background-color: colors.$mon-yellow-40;
  .subscribe-form {
    border-radius: 10px;
    background-color: colors.$dark-blue-main;
    @include mixin.flexbox;
    gap: 10px;
    padding: 2rem 1.5rem;
    .form-title {
      p {
        font-size: 24px;
        color: colors.$neutral-00;
        font-weight: 500;
      }
      width: 40%;
    }
    .form-input {
      padding: 1rem;
      border-radius: 10px;
      height: 72px;
      background-color: colors.$neutral-00;
      width: 60%;
      @include mixin.flexbox;
      gap: 10px;
      input {
        width: 90%;
        height: 40px;
        border: 1.5px solid colors.$neutral-40;
        border-radius: 8px;
        padding: 1em;
      }
      input::placeholder {
        font-size: 12px;
        font-weight: 500;
      }

      button {
        height: 40px;
        width: 20%;
        background-color: colors.$dark-blue-main;
        color: colors.$neutral-00;
        border-radius: 8px;
      }
    }
  }
  .footer-links {
    @include mixin.flexbox;
    padding: 40px 0;
    border-bottom: 1.5px solid colors.$neutral-20;
    ul {
      @include mixin.flexbox;
      gap: 20px;
      a {
        color: colors.$neutral-100;
      }
    }

    .social-media {
      @include mixin.flexbox;
      gap: 20px;
      cursor: pointer;
    }
  }
  .logo-footer-mobile {
    .image-footer-mobile {
      display: none;
    }
  }

  .copyright {
    @include mixin.flexbox;
    padding-top: 50px;
    .image-footer-mobile {
      display: none;
    }
    a {
      margin-right: 10px;
      color: colors.$neutral-60;
    }
    p {
      color: colors.$neutral-60;
    }
  }
}

@media only screen and (max-width: 810px) {
  footer {
    margin-top: 30px;
    padding: 30px 1.5rem 0 1.5rem;
    .subscribe-form {
      flex-direction: column;
      padding: 1rem 0.5rem;
      .form-title,
      .form-input {
        width: 90%;
      }
      .form-title {
        p {
          font-size: 14px;
        }
      }
      .form-input {
        flex-direction: column;
        height: auto;
        input,
        button {
          width: 100%;
          font-size: 12px;
        }
      }
    }
    .footer-links {
      flex-direction: column;
      row-gap: 30px;
      a {
        font-size: 12px;
      }
    }
    .logo-footer-mobile {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 20px;
      .image-footer-mobile {
        margin: auto;
        display: block;
        cursor: pointer;
      }
    }
    .copyright {
      flex-direction: column-reverse;
      gap: 15px;
      padding-top: 0;
      padding-bottom: 50px;
      .image-footer-desktop {
        display: none;
      }
      .term-service {
        a {
          font-size: 12px;
        }
      }
    }
  }
}
