// dark blue color
$dark-blue-40: #0078cd;
$dark-blue-60: #00528c;
$dark-blue-80: #002a48;
$dark-blue-main: #003456;

// mon yellow color
$mon-yellow-40: #fceed5;
$mon-yellow-60: #f1d092;
$mon-yellow-80: #eec77e;
$mon-yellow-main: #f7dba7;

// neutral color
$neutral-color-00: #fdfdfd;
$neutral-color-10: #ebeeef;
$neutral-color-20: #ccd1d2;
$neutral-color-40: #99a2a5;
$neutral-color-60: #667479;
$neutral-color-80: #242b33;
$neutral-color-100: #00171f;

// state color
$pink-red: #ff564f;
$green-light: #34c759;
$orange-shine: #ff912c;
$blue-sea: #00a7e7;
