@use 'typography';
@use 'colors';
@import url(typography.$font-url);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: typography.$font-family;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
}
