@use '../abstracts/mixin' as mixin;
@use '../base/colors' as colors;

.banner-2 {
  margin: 50px 130px;

  .container {
    @include mixin.flexbox(space-evenly);
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    background-color: colors.$mon-yellow-100;
    position: relative;
    .banner-content {
      z-index: 1;

      margin-left: 70px;
      p {
        margin: 20px 0;
        max-width: 300px;
      }
      button {
        margin-right: 10px;
      }
    }
    .banner-image {
      position: relative;
      img {
        object-fit: contain;
        margin-bottom: -10px;
      }
    }
    .obj1,
    .obj2 {
      position: absolute;
    }

    .obj1 {
      width: 600px;
      height: 630px;
      background-color: antiquewhite;
      border-radius: 70px;
      rotate: 50deg;
      left: -90px;
      top: -130px;
    }

    .obj2 {
      width: 1000px;
      height: 1700px;
      background-color: colors.$mon-yellow-60;
      border-radius: 70px;
      rotate: 50deg;
      right: -70px;
      top: 100px;
    }
  }
}

@media only screen and (max-width: 810px) {
  .banner-2 {
    display: none;
  }
}
