@use '../abstracts/mixin' as mixin;

.brands {
  margin: 50px 130px;
  .brands-title {
    @include mixin.flexbox;
    margin-bottom: 20px;
  }
  .brands-logo {
    @include mixin.flexbox;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media only screen and (max-width: 810px) {
  .brands {
    display: none;
  }
}
