@use '../abstracts/mixin' as mixin;
@use '../base/colors' as colors;

.hero {
  padding: 110px 130px;
  background-color: colors.$mon-yellow-40;
  @include mixin.flexbox(space-between, start);
  .hero-content,
  .hero-image {
    width: 50%;
  }
  .hero-content {
    margin-top: 90px;
    p {
      margin: 20px 0 30px 0;
      width: 500px;
    }
    .btn-light {
      margin-right: 5px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    padding: 30px 1.5rem 0 1.5rem;
    .hero-content,
    .hero-image {
      width: 100%;
    }
    .hero-content {
      p {
        width: auto;
      }
    }
    .hero-image {
      margin-top: 30px;
      img {
        width: 100%;
      }
    }
  }
}
