@use '../abstracts/mixin' as mixin;
@use '../base/colors' as colors;

.our-product {
  margin: 50px 130px;
  .our-product-header {
    @include mixin.flexbox;
    margin-bottom: 20px;
  }
  .our-products {
    @include mixin.flexbox(space-evenly);
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 810px) {
  .our-product {
    margin: 30px 1.5rem 0 1.5rem;
    .our-product-button {
      display: none;
    }
  }
}

@media only screen and (max-width: 400px) {
  .card {
    width: 140px;
    padding: 10px;
  }
}
