@use '../abstracts/mixin' as mixin;
@use '../base/colors' as colors;

.product-recomendation {
  padding: 50px 130px;
  .recomendation-header {
    @include mixin.flexbox;
    margin-bottom: 10px;
  }
  .recomendation-product {
    @include mixin.flexbox(space-evenly);
    flex-wrap: wrap;
  }

  .btn-light-full {
    display: none;
    margin: 1.5rem 0;
  }
}

@media only screen and (max-width: 800px) {
  .product-recomendation {
    padding: 30px 1.5rem 0 1.5rem;
    .recomendation-header {
      button {
        display: none;
      }
    }
  }
  .btn-light-full {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .product-recomendation {
    padding: 30px 1.5rem 0 1.5rem;
  }
}
